<!DOCTYPE html>
<html lang="fr">


<!-- Mirrored from www.smart-watch.ma/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Apr 2023 01:33:26 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6CR6CGC28X"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-6CR6CGC28X');
    </script>
    <!-- Meta Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '3108484159404560');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=3108484159404560&amp;ev=PageView&amp;noscript=1"
  /></noscript>
    <!-- End Meta Pixel Code -->


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Site Title -->
    <title>Smart Watch - الساعة الذكية</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&amp;family=Source+Sans+Pro:wght@400;600;700;900&amp;display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <!--Bootstrap css-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--Font Awesome css-->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="assets/flaticon/flaticon.css">
    <!--Owl-Carousel css-->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <!--Animate css-->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!--Site Main Style css-->
    <link rel="stylesheet" href="assets/css/styled180.css?v=112200">
    <!--Responsive css-->
    <link rel="stylesheet" href="assets/css/responsived180.css?v=112200">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Cairo', sans-serif;
        }
    </style>

</head>

<body class="theBody">

    <!-- Start Preloader -->
    <div id="preloader">
        <div class="preload-content">
            <div id="dream-load"></div>
        </div>
    </div>
    <!-- End Preloader -->

    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- LOGO -->
            <a class="navbar-brand logo" href="index-2.html">
                <!-- <img src="assets/img/logo-smart-black.png" alt="nuxa" /> -->
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" data-scroll-nav="0">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-scroll-nav="1">Fonctionnalités</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-scroll-nav="3">Produits</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-scroll-nav="4">Faq</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-scroll-nav="5">Avis Client</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-scroll-nav="6">COMMANDEZ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar End-->

    <img src="assets/img/home-22.webp" alt="img" />
    <!-- Welcome Area Start -->
    <section class="nuxa-welcome-area fix" data-scroll-index="0">
        <!-- Shape Start  
        <img src="assets/img/hero_bg.png" alt="img" class="welcome-shape" />
        Shape End -->

        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="welcome-image wow fadeInRight text-center" data-wow-duration="0.5s" data-wow-delay="0.3s">

                        <img class="moving1" src="assets/img/play-apple-store-2.webp" alt="play apple store" style="margin-top: 10px;
                        padding-bottom: 15px;" />
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="welcome-text wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.3s">
                        <!-- <h2 style="margin-bottom: 20px;">Restez connecté avec style
                            <br>avec <span style="color: #8e59d4;"> la SMART WATCH !</span>
                        </h2>


                        <h2 dir="rtl">
                            خليك على اتصال بأسلوبك المتميز
                            <span style="color: #8e59d4;">        
خليك ستايل 
</span> !
                        </h2> -->
                        <p style=" text-align: justify; text-justify: inter-word;">
                            Gardez le contact pour pouvoir tout faire tout en gardant votre téléphone dans votre sac ! Restez en forme avec des capteurs pour suivre toutes vos activités !
                        </p>
                        <p dir="rtl" style="font-size: 20px; padding-top:20px; text-align: justify; text-justify: inter-word;">
                            ابقَ على اتصال حتى تتمكن من القيام بكل شيء مع الاحتفاظ بهاتفك في حقيبتك! حافظ على لياقتك مع المستشعرات لتتبع جميع أنشطتك!
                        </p>
                        <div class="mobile-center"><a href="#" class="nuxa-btn">COMMANDEZ MAINTENANT <br> <span style="font-size:22px"> اطلب الآن </span></a></div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Welcome Area End -->

    <!-- Features Area Start -->
    <section class="nuxa-features-area " data-scroll-index="1" style="margin-top: 35px;">
        <!-- Dot Shape Strat -->
        <div class="shape-l">
            <img src="assets/img/shape-l.png" alt="shape">
        </div>
        <div class="shape-r">
            <img src="assets/img/shape-r.png" alt="shape">
        </div>
        <!-- Dot Shape End -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="site-heading wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
                        <h2 style="text-transform: none;">
                            Bien plus qu’une montre, une <span>montre connectée</span> avec votre <span>smatphone</span> pour améliorer votre quotidien !
                        </h2>
                        <br>
                        <h2 style="direction: rtl;">
                            أكثر بكثير من مجرد ساعة،
                            <br> ساعة متصلة بهاتفك الذكي لتحسين حياتك اليومية!
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-2">
                    <div class="row">
                        <!-- 
                           <div class="col-xl-6 col-md-6 col-12 mobile-center">
                            <div class="feature-box wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.3s">
                                <div class="feature-icon">
                                    <i class="flaticon-crown"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>Assistante de vie intelligente</h3>
                                    <p>
                                        la montre surveille les pas, les calories, la fréquence cardiaque, la distance parcourue, la qualité du sommeil etc..., il peut être connecté à un smartphone pour afficher des informations, prendre des photos à distance, récupérer des téléphones portables
                                        et d'autres fonctions réfléchies et pratiques pour vous rendre la vie plus pratique.
                                    </p>
                                    <br>
                                    <img src="assets/img/smat-vie.webp" alt="smart vie">
                                </div>
                            </div>
                            <br>
                            <div class="mobile-center"><a href="#" class="nuxa-btn">COMMANDEZ MAINTENANT <br> <span style="font-size:22px"> اطلب الآن </span></a></div>

                        </div>
                        -->
                        <div class="col-xl-6 col-md-6 col-12  mobile-center">
                            <div class="feature-box wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.6s">
                                <br>
                                <div class="feature-icon">
                                    <img src="assets/img/message-icon.png" alt="messages" style="height: 55px;">
                                    <br>
                                </div>
                                <div class="feature-text">
                                    <h4>Recevez tous vos messages et notifications discrètement sur votre montre (instagram, FB, gmail…)</h4>
                                    <br>
                                    <h4 dir="rtl">
                                        اتوصلو برسائلكم الشخصية مباشرة على ساعتكم الذكية
                                    </h4>
                                    <br>
                                    <img src="assets/img/messages-7.webp" alt="smart messages">
                                    <br><br>
                                    <div class="mobile-center"><a href="#" class="nuxa-btn">COMMANDEZ MAINTENANT <br> <span style="font-size:22px"> اطلب الآن </span></a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-md-6 col-12  mobile-center">
                            <div class="feature-box wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.6s">
                                <br>
                                <div class="feature-icon">
                                    <img src="assets/img/call-icon.png" alt="appels" style="height: 65px;">
                                    <br>
                                </div>
                                <div class="feature-text">
                                    <h4>Ne manquez aucun appel et répondez directement à partir de votre montre si vous le souhaitez</h4>
                                    <br>
                                    <h4 dir="rtl">
                                        مايفوتكم حتى اتصال ! مع الساعة الذكية جاوب على أهم الإتصالات
                                    </h4>
                                    <br>
                                    <img src="assets/img/call-33.webp" alt="smart appeles" style="border-radius: 20px;">
                                    <br><br><br>
                                    <div class="mobile-center"><a href="#" class="nuxa-btn">COMMANDEZ MAINTENANT <br> <span style="font-size:22px"> اطلب الآن </span></a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-md-6 col-12  mobile-center">
                            <div class="feature-box wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.6s">
                                <br>
                                <div class="feature-icon">
                                    <img src="assets/img/music-icon.png" alt="musique" style="height: 50px;">
                                    <br>
                                </div>
                                <div class="feature-text">
                                    <h4>Ecoutez votre musique préférée et changer de morceau avec un simple geste !</h4>
                                    <br>
                                    <h4 dir="rtl">اسمع للموسيقى المفضلة ديالك و بدل الأغاني بClick من عندك !
                                    </h4>
                                    <br>
                                    <img src="assets/img/music-22.webp" alt="smart music" style="border-radius: 20px;">
                                    <br><br><br>
                                    <div class="mobile-center"><a href="#" class="nuxa-btn">COMMANDEZ MAINTENANT <br> <span style="font-size:22px"> اطلب الآن </span></a></div>
                                </div>
                            </div>
                        </div>



                        <!--

                        </div>
                        <div class="col-xl-6 col-md-6 col-12 mobile-center">
                            <div class="feature-box wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.9s">
                                <div class="feature-icon">
                                    <i class="flaticon-digital"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>Téléphone et synchronisation des messages</h3>
                                    <p>
                                        Synchronisation en temps réel, ne manquez plus d'informations importantes lorsqu'il n'est pas pratique de regarder un téléphone portable, prenez en charge les messages push tels que sms, facebook, twitter, etc.
                                    </p>

                                    <br>
                                    <img src="assets/img/smart-message.png" alt="smart vie">
                                    <br>
                                    <div class="mobile-center"><a href="#" class="nuxa-btn">COMMANDEZ MAINTENANT <br> <span style="font-size:22px"> اطلب الآن </span></a></div>
                                </div>
                            </div>

                        </div> -->
                        <div class="col-xl-6 col-md-6 col-12 mobile-center">
                            <div class="feature-box wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.9s">
                                <br>
                                <div class="feature-icon">
                                    <img src="assets/img/coeur-icon-2.png" alt="musique" style="height: 55px;">
                                    <br>
                                </div>
                                <div class="feature-text">
                                    <h4>Gardez La Forme ! le capteur de mouvement peut suivre une variété de sports différents, peut mesurer la fréquence cardiaque et les calories pendant l'exercice!</h4>
                                    <br>
                                    <h4 dir="rtl">

                                        تهلا فراسك!
                                        <br> خاصية كاشف الحركة الذكي ، كيقدر يتعرف على النشاط البدني لي كتمارس، يقوم بتتبع روتين النوم ديالك، قياس نسبة الدهون و معدل نبض قلبك، لتمارين أكثر فعالية

                                    </h4>

                                    <br>
                                    <!-- <img src="assets/img/bpm-rate-3.png" alt="smart sport" style="height: 302px;margin-left: -65px;">-->
                                    <img src="assets/img/sport-22.webp" alt="smart sport" style="border-radius: 20px;">
                                    <br><br>
                                    <div class="mobile-center"><a href="#" class="nuxa-btn">COMMANDEZ MAINTENANT <br> <span style="font-size:22px"> اطلب الآن </span></a></div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-6 col-md-6 col-12 mobile-center">
                            <div class="feature-box wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="1.1s">
                                <br>
                                <div class="feature-icon">
                                    <img src="assets/img/smart-sleep.png" alt="sleeping" style="height: 55px;">
                                    <br>
                                </div>
                                <div class="feature-text">
                                    <h4>Dormez sur vos deux oreilles, votre montre vous aide à établir une routine et à vous coucher à heure fixe !</h4>
                                    <br>
                                    <h4 dir="rtl">
                                        انعس على جنب الراحة ! الساعة لي اختاريتي كتعاونك باش تقاد النوم ديالك و تنعس مرتاح
                                    </h4>
                                    <br>
                                    <img src="assets/img/sleep-22.webp" alt="smart vie" style="border-radius: 20px;">
                                    <br>
                                    <br>
                                    <br>
                                    <div class="mobile-center"><a href="#" class="nuxa-btn">COMMANDEZ MAINTENANT <br> <span style="font-size:22px"> اطلب الآن </span></a></div>
                                </div>
                            </div>

                        </div>


                        <div class="col-xl-6 col-md-6 col-12  mobile-center">
                            <div class="feature-box wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.6s">

                                <br>
                                <div class="feature-icon">
                                    <i class="flaticon-graphic-design"></i>
                                </div>
                                <div class="feature-text">
                                    <h4>Un design élégant et épuré !</h4>
                                    <br>
                                    <h4 dir="rtl">
                                        تصميم أنيق و مميز
                                    </h4>
                                    <br>
                                    <img src="assets/img/design-33.webp" alt="smart screen" style="border-radius: 20px;">
                                    <br><br><br>
                                    <div class="mobile-center"><a href="#" class="nuxa-btn">COMMANDEZ MAINTENANT <br> <span style="font-size:22px"> اطلب الآن </span></a></div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Features Area End -->

    <!-- About Area Start  
    <section class="nuxa-about-area section_100" data-scroll-index="2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-left mobile-center">
                        <img src="assets/img/sport-man.png" alt="about" class=" moving2  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s" />
                    </div>
                </div>
                <div class="col-lg-6 mobile-center">
                    <div class="about-right wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.3s">


                        <img src="assets/img/sports.png" alt="" style="height: 65px;">

                        <br>
                        <div class="site-heading">
                            <h2 style="text-transform: none;"><span>Continuez </span> à vous entraîner</h2>
                        </div>
                        <p>
                            Suivi sportif plus précis, collecte plus rapide des données sportives, sept objectifs sportifs à tout moment, surveiller et analyser les progrès du sport, vous aider à construire un mode de vie sportif sain
                        </p>

                        <br>
                        <img src="assets/img/smart-sport-1.webp" alt="smart vie">
                        <br><br>

                        <div class="site-heading">
                            <h2>Plusieurs <span> modes sportifs</span> </h2>
                        </div>
                        <p>
                            le capteur de mouvement peut suivre une variété de sports différents, peut mesurer la fréquence cardiaque et les calories pendant l'exercice, ce qui rend votre exercice plus efficace
                        </p>

                        <br>
                        <img src="assets/img/smart-sport-2.webp" alt="smart vie">


                        <br><br>
                        <div class="mobile-center"><a href="#" class="nuxa-btn">COMMANDEZ MAINTENANT <br> <span style="font-size:22px"> اطلب الآن </span></a></div>

                    </div>
                </div>
            </div>
        </div>
    </section>
     About Area End -->
    <br><br>
    <!-- Video Area Start  
    <section class="nuxa-video-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video-box wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
                        <div class="video-inn">

                            <img src="assets/img/charging.png" alt="" style="height: 65px;">
                            <br>

                            <div class="site-heading">
                                <h2>CHARGE <span>DIRECTE</span> ET <span>RAPIDE</span></h2>
                                <br>
                                <h2 dir="rtl">
                                    شحن سريع و مباشر

                                </h2>
                            </div>

                            <br>
                            <img src="assets/img/chargeur-22.webp" alt="">

                            <br><br>
                            <div class="mobile-center"><a href="#" class="nuxa-btn">COMMANDEZ MAINTENANT <br> <span style="font-size:22px"> اطلب الآن </span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     Video Area End -->

    <br>

    <!-- Product Area Start -->
    <section class="nuxa-product-area " data-scroll-index="3">
        <div class="container">

            <div class="row">
               <div class="col-lg-4 mobile-center">
                    <div class="product_item wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s" style="border: 1px solid #8e59d4;">
                        <div class="product_img">
                            <img src="assets/img/sw-pink-1.webp" alt="img" style="height: 250px;" />
                            <br>
                        </div>
                        <div class="product_text">
                            <h3>PINK Watch Pro <br> ساعة برو وردية
                                <br> <br><span style="color: #737373;padding-top: 10px;text-decoration:line-through;">999 Dh</span> &nbsp;&nbsp; <span style="color: #8e59d4;padding-top: 10px;">599 Dh</span></h3>
                            <h3 style="color: green;font-size: 16px;">Livraison Gratuite - توصيل مجاني</h3>
                            <br>

                            <div class="mobile-center"><a href="#" class="nuxa-btn" data-product="0">COMMANDEZ MAINTENANT <br> <span style="font-size:22px"> اطلب الآن </span></a></div>
                        </div>
                    </div>
                </div>

               

                <!-- <div class="col-lg-4 mobile-center">
                    <div class="product_item wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s" style="border: 1px solid #8e59d4;">
                        <div class="product_img">
                            <img src="assets/img/watch-black.webp" alt="img" style="height: 250px;" />
                            <br>
                        </div>
                        <div class="product_text">
                            <h3>BLACK Smart Watch Pro <br> ساعة برو سوداء
                                <br> <br><span style="color: #737373;padding-top: 10px;text-decoration:line-through;">999 Dh</span> &nbsp;&nbsp; <span style="color: #8e59d4;padding-top: 10px;">599 Dh</span></h3>
                            <h3 style="color: green;font-size: 16px;">Livraison Gratuite - توصيل مجاني</h3>
                            <br>

                            <div class="mobile-center"><a href="#" class="nuxa-btn" data-product="0">COMMANDEZ MAINTENANT <br> <span style="font-size:22px"> اطلب الآن </span></a></div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col-lg-4 mobile-center">
                    <div class="product_item wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s" style="border: 1px solid #8e59d4;">
                        <div class="product_img">
                            <img src="assets/img/watch-gray-4.webp" alt="img" style="height: 250px;" />
                            <br>
                        </div>
                        <div class="product_text">
                            <h3>Gray Smart Watch Pro <br> ساعة برو رمادية
                                <br> <br><span style="color: #737373;padding-top: 10px;text-decoration:line-through;">999 Dh</span> &nbsp;&nbsp; <span style="color: #8e59d4;padding-top: 10px;">599 Dh</span></h3>
                            <h3 style="color: green;font-size: 16px;">Livraison Gratuite - توصيل مجاني</h3>
                            <br>

                            <div class="mobile-center"><a href="#" class="nuxa-btn" data-product="1">COMMANDEZ MAINTENANT <br> <span style="font-size:22px"> اطلب الآن </span></a></div>
                        </div>
                    </div>
                </div> -->


                <div class="col-lg-4 mobile-center">
                    <div class="product_item wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s" style="border: 1px solid #8e59d4;">
                        <div class="product_img">
                            <img src="assets/img/duo-pink-s-2.webp" alt="img" style="height: 250px;" />
                            <br>
                        </div>
                        <div class="product_text">
                            <h3>Duo Pink Smart Watch Pro <br>ديو ساعة برو وردية 
                            <br><br> 
                            <span style="color: #737373;padding-top: 10px;text-decoration:line-through;">1998 Dh</span> &nbsp;&nbsp;
                            <span style="color: #8e59d4;padding-top: 10px;">999 Dh</span></h3>
                            <h3 style="color: green;font-size: 16px;">Livraison Gratuite - توصيل مجاني</h3>
                            <br>
                            <div class="mobile-center"><a href="#" class="nuxa-btn" data-product="1">COMMANDEZ MAINTENANT <br> <span style="font-size:22px"> اطلب الآن </span></a></div>
                        </div>
                    </div>
                </div>

                <!--<div class="col-lg-4 mobile-center">
                    <div class="product_item wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s" style="border: 1px solid #8e59d4;">
                        <div class="product_img">
                            <img src="assets/img/beige-s.png" alt="img" style="height: 250px;" />
                            <br>
                        </div>
                        <div class="product_text">
                            <h3>BEIGE Watch pro <br> ساعة برو وردية <br><br> <span style="color: #8e59d4;padding-top: 10px;">599 Dh</span></h3>
                            <h3 style="color: green;font-size: 16px;">Livraison Gratuite - توصيل مجاني</h3>
                            <br>
                            <div class="mobile-center"><a href="#" class="nuxa-btn" data-product="1">COMMANDEZ MAINTENANT <br> <span style="font-size:22px"> اطلب الآن </span></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mobile-center">
                    <div class="product_item wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.9s" style="border: 1px solid #8e59d4;">
                        <div class="product_img">
                            <img src="assets/img/s-duo.webp" alt="img" />
                        </div>
                        <div class="product_text">
                            <h3>DUO BEIGE & PINK Watch Pro <br> <span style="color: #8e59d4;">999 Dh</span></h3>
                            <h3 style="color: green;font-size: 16px;">Livraison Gratuite - توصيل مجاني</h3>
                            <br>
                            <div class="mobile-center"><a href="#" class="nuxa-btn" data-product="2">COMMANDEZ MAINTENANT <br> <span style="font-size:22px"> اطلب الآن </span></a></div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- Product Area End -->

    <!-- Faq Area Start 
    <section class="nuxa-faq-area section_100" data-scroll-index="4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="faq-right">
                        <img src="assets/img/faqs.png" alt="faqs" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq-left">
                        <div class="site-heading wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
                            <h2> <span>Questions</span> fréquemment posées </h2>
                        </div>
                        <div class="accordion" id="accordionExample">
                            <div class="single_faq_accordian wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
                                <div class="faq_accordian_header">
                                    <a href="#" class="collapsed" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                        Livré avec le chargeur? #1
                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordionExample">
                                    <div class="faq_accordian_body">
                                        <p>Non! la montre se connecte au chargeur normal USB celui utilisé pour charger votre téléphone portable</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single_faq_accordian wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.9s">
                                <div class="faq_accordian_header">
                                    <a href="#" class="collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Comment acheter les produits ? #2
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="faq_accordian_body">
                                        <p>vous suffit de remplir le formulaire ci-dessous et nous nous occupons du reste.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single_faq_accordian wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.1s">
                                <div class="faq_accordian_header">
                                    <a href="#" class="collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Comment puis-je me faire rembourser ? #3
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="faq_accordian_body">
                                        <p>craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                                            of them accusamus labore sustainable VHS.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single_faq_accordian wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.3s">
                                <div class="faq_accordian_header">
                                    <a href="#" class="collapsed" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Comment utiliser le produit ? #4
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="faq_accordian_body">
                                        <p>craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                                            of them accusamus labore sustainable VHS.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br><br>
    <div class="mobile-center"><a href="#" class="nuxa-btn">COMMANDEZ MAINTENANT <br> <span style="font-size:22px"> اطلب الآن </span></a></div>
    <BR></BR>
    Faq Area End -->

    <!-- Testimonial Section Start -->
    <section class="nuxa-testimonial-area section_100" data-scroll-index="5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="site-heading wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
                        <h2>Quelques <span>avis</span> de <br> nos clients</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-pos">
                        <h3>Avis</h3>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="testimonial-slider owl-carousel">
                        <div class="testimonial-item mobile-center">


                            <div class="testimonial-body">
                                <p>Merci bcp, je l’adore. Elle ne me quitte plus. Je n’ai plus à sortir mon téléphone en pleine rue pour consulter mes messages. </p>
                            </div>
                            <div class="testimonial-meta">
                                <h3>Imane C, 24 ans</h3>
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>

                        <div class="testimonial-item mobile-center">


                            <div class="testimonial-body">
                                <p>Très facile d’utilisation, je l’ai connecté rapidement avec mon téléphone.
                                </p>
                            </div>
                            <div class="testimonial-meta">
                                <h3>Najla B, 37 ans
                                </h3>
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>

                        <div class="testimonial-item mobile-center">


                            <div class="testimonial-body">
                                <p>Magana Wa3ra. Khasek ghir tfkash le QRcode o telechargi l’application.

                                </p>
                            </div>
                            <div class="testimonial-meta">
                                <h3>Nadia R, 32 ans

                                </h3>
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>

                        <div class="testimonial-item mobile-center">


                            <div class="testimonial-body">
                                <p>
                                    Très surprise de voir autant de fonctionnalités sur cette montre à petit prix. Elle me permet de mesurer le nombre de pas que j’ai effectués, les calories que j’ai dépensées….

                                </p>
                            </div>
                            <div class="testimonial-meta">
                                <h3>Jihane S, 28 ans


                                </h3>
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>

                        <div class="testimonial-item mobile-center">


                            <div class="testimonial-body">
                                <p>
                                    Parfaite pour le sport et pratique pour ts les jours
                                </p>
                            </div>
                            <div class="testimonial-meta">
                                <h3>Hicham A, 32 ans


                                </h3>
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>

                        <div class="testimonial-item mobile-center">


                            <div class="testimonial-body">
                                <p>
                                    déja cherit wahed lmodéle men internet o masdkatch, Ama hadi c top 👍 Ca fait 3 mois o hiya 3andi ma3andi mangoul </p>
                            </div>
                            <div class="testimonial-meta">
                                <h3>Mohamed A, 25 ans


                                </h3>
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Contact Area Start -->
    <section class="nuxa-contact-area section_100" data-scroll-index="6">
        <div class="container">
            <div class="row" id="formulaire">
                <div class="col-lg-12">
                    <div class="site-heading wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
                        <h2>COMMANDEZ <span> MAINTENANT</span></h2>


                        <h2> اطلب <span> الآن </span> </h2>

                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: -50px;">



                <div class="col-lg-12">



                    <div class="contact-form">
                        <div class="heading-line-two"></div>
                        <div id="notification" class="text-center" style="color: #8e59d4; font-size: 22px; font-weight: 400;">Pink Smart Watch Pro</div>
                        <div id="price" class="text-center" style="color: #7547a9; font-size: 22px; font-weight: 600;">599 DH (Livraison gratuite)</div>
                        <form id="contact-form" method="POST" action="/order">
                        
                     
                            <input type='hidden' name='utm_source' value="" />



                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <p>

                                        <select name="color" class="form-control" id="color">
                                                   <option value="40535928045620">Pink Watch Pro </option>
                                                   <!-- <option value="40535929421876"> BLUE Watch Pro </option> -->
                                                   <!-- <option value="40540433055796"> Duo BLUE Watch Pro </option> -->
                                                   <!-- <option value="40337492869172"> BEIGE Watch Pro  </option>
                                                    <option value="duo"> DUO BEIGE & PINK Watch Pro </option>
                                                   -->


                                                    <!-- <option value="40337490542644">BLACK Watch Pro </option>  -->
                                                    <!-- <option value="40623112552500">GRAY Watch Pro </option> -->
                                                    <!-- <option value="40623101575220">Duo Pink Watch Pro</option>  -->
                                                    <option value="40939713134644">Duo Pink Watch Pro</option> 
                                        </select>

                                    </p>
                                </div>

                                <div class="col-12 col-md-6 colorDuo" style="display: none;">
                                    <p>

                                        <select name="colorDuo" class="form-control" id="colorDuo">
                                                    <option value="40623101575220"> BLACK Watch Pro + GRAY Watch Pro  </option>
                                                    <option value="40623116451892"> 2 GRAY Smart Watch Pro  </option>
                                                    <option value="40337506140212"> 2 BLACK Smart Watch Pro  </option>
                                        </select>

                                    </p>
                                </div>

                                <div class="col-12 col-md-6">
                                    <p>
                                        <input class="form-control" type="text" placeholder="Nom et prénom - الإسم والنسب" name="first_name" />
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <p>
                                        <input class="form-control" type="text" placeholder="Ville - المدينة" name="city" />
                                    </p>
                                </div>
                                <div class="col-12 col-md-6">
                                    <p>
                                        <input class="form-control" type="tel" placeholder="N° de téléphone - رقم الهاتف" name="phone" />
                                    </p>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>
                                        <textarea class="form-control" placeholder="Adresse - العنوان" name="address"></textarea>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>
                                        <button type="submit" class="nuxa-btn-submit">Acheter maintenant -  اشتري الآن</button>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Area End -->

    <!-- Footer Area Start -->
    <footer class="nuxa-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-box">

                        <div class="footer-copyright">
                            <p>Copyright &copy; Smart-Watch 2023.</p>
                        </div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

    <!--Jquery js-->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <!--Bootstrap js-->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Popper JS -->
    <script src="assets/js/popper.min.js"></script>
    <!--ScrollIt js-->
    <script src="assets/js/scrollIt.min.js"></script>
    <!--Owl-Carousel js-->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!--Magnific js-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!--Mouse Effect js-->
    <script src="assets/js/mouse-effect.js"></script>
    <!--Initial js-->
    <script src="assets/js/init.js"></script>
    <!--Wow js-->
    <script src="assets/js/wow.min.js"></script>
    <!--Main js-->
    <script src="assets/js/main.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js"></script>
    <style>
        label {
            color: red;
            text-align: left !important;
            float: left;
        }
    </style>

    <script>
        $(".nuxa-btn").on('click', function(e) {

            e.preventDefault();

            var indexProduit = $(this).data('product');

            $('#color option').eq(indexProduit).prop('selected', true);

            changeTextPrice();

            $('html, body').animate({
                scrollTop: $("#formulaire").offset().top
            }, 1500);

        });

        function changeTextPrice() {

            var selected = $('#color').prop('selectedIndex');
            
                        // if (selected == 0) {
                        //     $('#price').html('599 Dh (Livraison gratuite) ');
                        //     $('#notification').html('Pink Smart Watch Pro');
                        //     $('.colorDuo').fadeOut();
                        // } else if (selected == 1) {
                        //     $('#price').html('599 Dh (Livraison gratuite)');
                        //     $('#notification').html('Pink Smart Watch Pro');
                        //     $('.colorDuo').fadeOut();
                        // } else if (selected == 2) {
                        //     $('#price').html('999 Dh (Livraison gratuite)');
                        //     $('#notification').html('DUO Pink Smart Watch Pro');
                        //     $('.colorDuo').fadeIn();
                        // } 

           
            if (selected == 0) {
                $('#price').html('599 Dh (Livraison gratuite) ');
                $('#notification').html('Pink Smart Watch Pro');
                $('.colorDuo').fadeOut();
            } else if (selected == 1) {
                $('#price').html('999 Dh (Livraison gratuite)');
                $('#notification').html('Duo Pink Smart Watch Pro');
                $('.colorDuo').fadeOut();
            }
            
        }

        $('#color').on('change', function() {
            changeTextPrice();
        })


        $("#contact-form").validate({
            // Specify validation rules
            rules: {
                // The key name on the left side is the name attribute
                // of an input field. Validation rules are defined
                // on the right side
                first_name: "required",
                city: "required",
                phone: {
                    required: true,
                    number: true
                },
                address: "required"
            },
            // Specify validation error messages
            messages: {
                first_name: "Veuillez insérer votre nom et prénom",
                city: "Veuillez insérer votre ville",
                phone: 'Veuillez insérer votre numéro de téléphone',
                address: "Veuillez insérer votre adresse de livraison",
                digits: "Le numéro de téléphone est incorrect ",
            },
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function(form) {
                form.submit();
            }
        });
    </script>

</body>




<!-- Mirrored from www.smart-watch.ma/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Apr 2023 01:34:03 GMT -->
</html>